@import "tailwindcss";

@font-face {
  font-family: 'APX K2';
  src: url('assets/fonts/ApexMk2-BoldExtended.woff') format('woff2'),
       url('assets/fonts/ApexMk2-BoldExtended.woff2') format('woff'),
       url('assets/fonts/ApexMk2-LightCondensed.woff') format('woff'),
       url('assets/fonts/ApexMk2-LightCondensed.woff2') format('woff2'),
       url('assets/fonts/ApexMk2-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'APX K2', 'Roboto', sans-serif;
  background-color: #FFF9F9;
}

:root {
  /* colors */
  --color-btn: #2B2B2B;
  --color-text: #2B2B2B;
  --color-grey: #000;

  /* fonts */
  --font-APXK2: 'APX K2';

  /* breakpoints */
  --breakpoint-xs: 30rem;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem;

  /* shadow */
  --shadow-2xs: 0 1px rgb(0 0 0 / 0.05);
}

.container {
  max-width: 1320px;
}

.mySwiper {
  width: 80%;
}

.nav-btn
{
  background-color: 'linear-gradient(45deg, #ff0000 30%, #ff4444 90%)'
}

.hero-section
{
  background-image: url('/assets/images/hero-background.png');
  background-repeat: no-repeat;
  background-size: cover; /* Scales to cover the element */
background-size: contain; 
background-blend-mode: multiply;
background-position: center; /* Centered */
background-position: top right; /* Aligns to top-right */
background-position: 0% 100%;
background-size: 1220px 300px  ;
padding: 5px; /* X% Y% positioning */
/* Ensures the entire image is visible */
}
.swiper{
 /* background-image: url('/assets/images/background-shade.png');
 background-size: 1220px;  */
}