@font-face {
  font-family: 'APX K2';
  src: url('assets/fonts/ApexMk2-BoldExtended.woff') format('woff2'),
       url('assets/fonts/ApexMk2-BoldExtended.woff2') format('woff'),
       url('assets/fonts/ApexMk2-LightCondensed.woff') format('woff')
       url('assets/fonts/ApexMk2-LightCondensed.woff2') format('woff2')
       url('assets/fonts/ApexMk2-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'APX K2', sans-serif;
}






@theme {
  /* colors */
  --color-btn: linear-gradient(317.62deg, #FD0000 26.88%, #FF9292 105.85%);
  --color-text: #2B2B2B;
  --color-grey: #000;
  /* fonts */
  --font-APXK2: APX K2;
  /* breakpoints */
  --breakpoint-xs: 30rem;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem;
  /* shadow */
  --shadow-2xs: 0 1px rgb(0 0 0 / 0.05);
}
